{
  "root": true,
  "env": {
    "browser": true,
    "es2017": true
  },
  "extends": [
    "@nuxtjs/eslint-config",
    "plugin:nuxt/recommended"
  ],
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "requireConfigFile": false,
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  // add your custom rules here
  "rules": {
    "vue/multi-word-component-names": 0,
    "vue/component-name-in-template-casing": ["error", "PascalCase"],
    "prefer-template": "error",
    "vue/prefer-template": "error",
    "vue/custom-event-name-casing": ["error", "kebab-case"],
    "vue/comment-directive": 0,
    "vue/no-v-html": 0,
    "vue/component-tags-order": [
      "error",
      {
        "order": [ "style", "template", "script"  ]
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "arrow-parens": [
      "error",
      "always"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}